#grid-container{
    width: 720px;
    height: 720px;
    display: grid;
    margin-left: 50px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    background-color: white;
}
body{
    background-color: rgb(106, 221, 230);
}
#game-area{
    display: flex;
    justify-content: center;
}
h1{
    padding: 8px;
    margin: 40px;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    width: max-content;
    color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}
.button{
    font-size: 20px;
    font-family: monospace;
    height: 50px;
    width: max-content;
    color: white;
    background-color: rgb(51, 138, 209);
    border-style: none;
    border-radius: 5px;
    margin: 10px;
}
#settings{
    display: flex;
    flex-direction: column;

}
.squares{
    background-color: white;
}
.button:hover{
    scale: 1.1;
    cursor: pointer;
}
#click-mode{
  background-color: blueviolet;
}
#hover-mode{
  background-color: blueviolet;
}
label{
    font-family: monospace;
    font-size: 16px;
    color: rgb(51, 138, 209);
    font-weight: bold;
    margin: 10px 0px;
}
input:hover{
    cursor: pointer;
}
.grid-size{
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(51, 138, 209);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}